footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 70rem;
    margin: auto;
}

.footer-coded-by p{
    margin:2rem 0;
    font-size: 1rem;
    color: rgb(47, 50, 77);
}

.footer-nav a {
    padding: 2rem;
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.3rem;
    color:rgba(70, 66, 96, 1);
}

//MEDIA QUERIES
@media only all and (max-width: 400px) {
    footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 90rem;
        margin: auto;
    }
    
    .footer-coded-by p{
        margin:2rem 0;
        font-size: 1rem;
        color: rgb(47, 50, 77);
    }
    
    .footer-nav a {
        padding: 0;
        margin: 2rem 0;
        font-weight: 500;
        font-size: 1.1rem;
        color:rgba(70, 66, 96, 1);
    }
}